<hr>

# üß´ DATA CLEANING üß´

<style>
h1 {
    text-align: center;
    color: blue;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

- This dataset is made for Machine Learning and needs to be reformatted to be used for analysis and plotting.

<hr>

### üìÇ IMPORTs


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [35]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
import seaborn as sns

plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

<hr>

## 0Ô∏è‚É£ DATA OVERVIEW


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

```text
NOTES to be saved outside the repository
# convert data type for columns: 

 1   admin_duration         12330 non-null  float64
 3   info_duration          12330 non-null  float64
 5   prod_related_duration  12330 non-null  float64
to time // make sure it's seconds

check min max if we need to convert to minutes and seconds


 11  os                     12330 non-null  int64  
 12  browser                12330 non-null  int64  
 13  region                 12330 non-null  int64  
 14  traffic_type           12330 non-null  int64  
 convert to categorical object
 
special day ??
]2,8[

feb 8 = 1

feb 6 = 0.8
feb 5 = 0.6
feb 4 = 0.4
feb 3 = 0.2
feb 2 = 0


check min max if we need to convert to minutes and seconds


```

<hr>

### üîª LOAD RAW DATASET


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [36]:
import pandas as pd
from IPython.display import display

# Load online_shoppers_intention.csv into a df DataFrame
df = pd.read_csv("../data/raw/online_shoppers_intention.csv")

<hr>

### üî≤ DISPLAY RAW DATASET


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [37]:

# Display df DataFrame
print("Online Shoppers Intention Dataset:")
display(df.head(10))
print("Main Dataset Shape:", df.shape[0], "rows and", df.shape[1], "columns\n")

# Display data types & missing values of each column in df
print("Data Types & Missing Values of Each Column:")
display(df.info())

Online Shoppers Intention Dataset:

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
5,0,0.0,0,0.0,19,154.216667,0.015789,0.024561,0.0,0.0,Feb,2,2,1,3,Returning_Visitor,False,False
6,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.4,Feb,2,4,3,3,Returning_Visitor,False,False
7,1,0.0,0,0.0,0,0.000000,0.200000,0.200000,0.0,0.0,Feb,1,2,1,5,Returning_Visitor,True,False
8,0,0.0,0,0.0,2,37.000000,0.000000,0.100000,0.0,0.8,Feb,2,2,2,3,Returning_Visitor,False,False
9,0,0.0,0,0.0,3,738.000000,0.000000,0.022222,0.0,0.4,Feb,2,4,1,2,Returning_Visitor,False,False

Main Dataset Shape: 12330 rows and 18 columns

Data Types & Missing Values of Each Column:
<class 'pandas.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  str
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  str
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), str(2)
memory usage: 1.5 MB

None

In [38]:
# Loop through each column and print unique values
for col in df.columns:
    unique_vals = df[col].unique()
    print(f"Column: {col}")
    print(f"Unique values ({len(unique_vals)}): {unique_vals}\n")

print(f"\nData types check:")
for col in df.columns:
    dtype = df[col].dtype
    unique_vals = df[col].nunique()
    print(f"  ‚û°Ô∏è{col:<25} {str(dtype):<10} [{unique_vals}] unique values")

Column: Administrative
Unique values (27): [ 0  1  2  4 12  3 10  6  5  9  8 16 13 11  7 18 14 17 19 15 24 22 21 20
 23 27 26]

Column: Administrative_Duration
Unique values (3335): [  0.         53.         64.6       ... 167.9107143 305.125
 150.3571429]

Column: Informational
Unique values (17): [ 0  1  2  4 16  5  3 14  6 12  7  9 10  8 11 24 13]

Column: Informational_Duration
Unique values (1258): [  0.   120.    16.   ... 547.75 368.25 211.25]

Column: ProductRelated
Unique values (311): [  1   2  10  19   0   3  16   7   6  23  13  20   8   5  32   4  45  14
  52   9  46  15  22  11  12  36  42  27  90  18  38  17 128  25  30  21
  51  26  28  31  24  50  96  49  68  98  67  55  35  37  29  34  71  63
  87  40  33  54  64  75  39 111  81  61  47  44  88 149  41  79  66  43
 258  80  62  83 173  48  58  57  56  69  82  59 109 287  53  84  78 137
 113  89  65  60 104 129  77  74  93  76  72 194 140 110 132 115  73 328
 160  86 150  95 130 151 117 124 127 125 116 105  92 157 154 220 187 112
 131 159  94 204 142 206 102 313 145  85  97 198 181 126 106 101 108 119
  70 122  91 276 100 291 114 172 217 141 133 156 136 180 135 195  99 362
 179 118 175 148 440 103 178 184 705 134 176 146 189 120 193 222 121 107
 305 199 439 223 230 280 377 310 158 486 153 139 182 221 229 216 170 202
 346 274 240 162 123 211 227 168 161 429 686 167 518 256 255 358 213 191
 282 155 138 246 237 271 171 414 219 262 409 243 241 197 449 143 188 391
 238 152 165 293 174 584 164 311 340 250 200 385 292 232 251 517 225 169
 309 235 501 224 275 318 144 397 343 245 186 337 351 166 349 423 359 163
 147 264 312 226 324 266 260 338 272 534 470 207 218 326 190 304 205 233
 401 177 330 286 247 357 315 231 339 283 374 248 279 281 234 261 290 336
 378 254 183 210 192]

Column: ProductRelated_Duration
Unique values (9551): [  0.          64.           2.66666667 ... 465.75       184.25
 346.        ]

Column: BounceRates
Unique values (1872): [0.2        0.         0.05       ... 0.00382775 0.00086956 0.01114899]

Column: ExitRates
Unique values (4777): [0.2        0.1        0.14       ... 0.01276133 0.01395349 0.02903061]

Column: PageValues
Unique values (2704): [ 0.         54.17976426 19.44707913 ... 78.81172527  3.68540082
 12.24171745]

Column: SpecialDay
Unique values (6): [0.  0.4 0.8 1.  0.2 0.6]

Column: Month
Unique values (10): <StringArray>
['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep', 'Dec']
Length: 10, dtype: str

Column: OperatingSystems
Unique values (8): [1 2 4 3 7 6 8 5]

Column: Browser
Unique values (13): [ 1  2  3  4  5  6  7 10  8  9 12 13 11]

Column: Region
Unique values (9): [1 9 2 3 4 5 6 7 8]

Column: TrafficType
Unique values (20): [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 18 19 16 17 20]

Column: VisitorType
Unique values (3): <StringArray>
['Returning_Visitor', 'New_Visitor', 'Other']
Length: 3, dtype: str

Column: Weekend
Unique values (2): [False  True]

Column: Revenue
Unique values (2): [False  True]


Data types check:

  ‚û°Ô∏èAdministrative            int64      [27] unique values
  ‚û°Ô∏èAdministrative_Duration   float64    [3335] unique values
  ‚û°Ô∏èInformational             int64      [17] unique values
  ‚û°Ô∏èInformational_Duration    float64    [1258] unique values
  ‚û°Ô∏èProductRelated            int64      [311] unique values
  ‚û°Ô∏èProductRelated_Duration   float64    [9551] unique values
  ‚û°Ô∏èBounceRates               float64    [1872] unique values
  ‚û°Ô∏èExitRates                 float64    [4777] unique values
  ‚û°Ô∏èPageValues                float64    [2704] unique values
  ‚û°Ô∏èSpecialDay                float64    [6] unique values
  ‚û°Ô∏èMonth                     str        [10] unique values
  ‚û°Ô∏èOperatingSystems          int64      [8] unique values
  ‚û°Ô∏èBrowser                   int64      [13] unique values
  ‚û°Ô∏èRegion                    int64      [9] unique values
  ‚û°Ô∏èTrafficType               int64      [20] unique values
  ‚û°Ô∏èVisitorType               str        [3] unique values
  ‚û°Ô∏èWeekend                   bool       [2] unique values
  ‚û°Ô∏èRevenue                   bool       [2] unique values

<hr>

## 1Ô∏è‚É£ STANDARD COLUMNS


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

| Original Column Name        | Standardized Column Name        |
|----------------------------|----------------------------------|
| `Administrative`           | `admin`                         |
| `Administrative_Duration`  | `admin_duration`                |
| `Informational`            | `info`                          |
| `Informational_Duration`   | `info_duration`                 |
| `ProductRelated`           | `prod_related`                  |
| `ProductRelated_Duration`  | `prod_related_duration`         |
| `BounceRates`              | `bounce_rate`                   |
| `ExitRates`                | `exit_rate`                     |
| `PageValues`               | `page_value`                    |
| `SpecialDay`               | `special_day`                   |
| `Month`                    | `month`                         |
| `OperatingSystems`         | `os`                            |
| `Browser`                  | `browser`                       |
| `Region`                   | `region`                        |
| `TrafficType`              | `traffic_type`                  |
| `VisitorType`              | `visitor_type`                  |
| `Weekend`                  | `weekend`                       |
| `Revenue`                  | `revenue`                       |

In [39]:
import pandas as pd

# Load main dataset
df = pd.read_csv("../data/raw/online_shoppers_intention.csv")

# Define the Renaming Dictionary
rename_columns = {
    "Administrative": "admin",
    "Administrative_Duration": "admin_duration",
    "Informational": "info",
    "Informational_Duration": "info_duration",
    "ProductRelated": "prod_related",
    "ProductRelated_Duration": "prod_related_duration",
    "BounceRates": "bounce_rate",
    "ExitRates": "exit_rate",
    "PageValues": "page_value",
    "SpecialDay": "special_day",
    "Month": "month",
    "OperatingSystems": "os",
    "Browser": "browser",
    "Region": "region",
    "TrafficType": "traffic_type",
    "VisitorType": "visitor_type",
    "Weekend": "weekend",
    "Revenue": "revenue"
}

# Rename columns using the rename Dictionary
df.rename(columns=rename_columns, inplace=True)

# Save updated dataset into a new CSV file
df.to_csv("../data/processed/online_shoppers_intention_01_standard.csv", index=False)

# Display Standardized DataFrame
print("Standardized DataFrame:")
display(df.head())

# Display the list of the standardidized column names in df
print("Standardized Column Names in df:")
display(df.info())

Standardized DataFrame:

,admin,admin_duration,info,info_duration,prod_related,prod_related_duration,bounce_rate,exit_rate,page_value,special_day,month,os,browser,region,traffic_type,visitor_type,weekend,revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

Standardized Column Names in df:
<class 'pandas.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   admin                  12330 non-null  int64
 1   admin_duration         12330 non-null  float64
 2   info                   12330 non-null  int64
 3   info_duration          12330 non-null  float64
 4   prod_related           12330 non-null  int64
 5   prod_related_duration  12330 non-null  float64
 6   bounce_rate            12330 non-null  float64
 7   exit_rate              12330 non-null  float64
 8   page_value             12330 non-null  float64
 9   special_day            12330 non-null  float64
 10  month                  12330 non-null  str
 11  os                     12330 non-null  int64
 12  browser                12330 non-null  int64
 13  region                 12330 non-null  int64
 14  traffic_type           12330 non-null  int64
 15  visitor_type           12330 non-null  str
 16  weekend                12330 non-null  bool
 17  revenue                12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), str(2)
memory usage: 1.5 MB

None

<hr>

### üî≤ DISPLAY STANDARDIZED DATASET


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [40]:

# Display df DataFrame
print("Online Shoppers Intention Dataset:")
display(df.head(10))
print("Main Dataset Shape:", df.shape[0], "rows and", df.shape[1], "columns\n")

# Display data types & missing values of each column in df
print("Data Types & Missing Values of Each Column:")
display(df.info())

Online Shoppers Intention Dataset:

,admin,admin_duration,info,info_duration,prod_related,prod_related_duration,bounce_rate,exit_rate,page_value,special_day,month,os,browser,region,traffic_type,visitor_type,weekend,revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
5,0,0.0,0,0.0,19,154.216667,0.015789,0.024561,0.0,0.0,Feb,2,2,1,3,Returning_Visitor,False,False
6,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.4,Feb,2,4,3,3,Returning_Visitor,False,False
7,1,0.0,0,0.0,0,0.000000,0.200000,0.200000,0.0,0.0,Feb,1,2,1,5,Returning_Visitor,True,False
8,0,0.0,0,0.0,2,37.000000,0.000000,0.100000,0.0,0.8,Feb,2,2,2,3,Returning_Visitor,False,False
9,0,0.0,0,0.0,3,738.000000,0.000000,0.022222,0.0,0.4,Feb,2,4,1,2,Returning_Visitor,False,False

Main Dataset Shape: 12330 rows and 18 columns

Data Types & Missing Values of Each Column:
<class 'pandas.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   admin                  12330 non-null  int64
 1   admin_duration         12330 non-null  float64
 2   info                   12330 non-null  int64
 3   info_duration          12330 non-null  float64
 4   prod_related           12330 non-null  int64
 5   prod_related_duration  12330 non-null  float64
 6   bounce_rate            12330 non-null  float64
 7   exit_rate              12330 non-null  float64
 8   page_value             12330 non-null  float64
 9   special_day            12330 non-null  float64
 10  month                  12330 non-null  str
 11  os                     12330 non-null  int64
 12  browser                12330 non-null  int64
 13  region                 12330 non-null  int64
 14  traffic_type           12330 non-null  int64
 15  visitor_type           12330 non-null  str
 16  weekend                12330 non-null  bool
 17  revenue                12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), str(2)
memory usage: 1.5 MB

None

<hr>

## 2Ô∏è‚É£ INVALID VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [41]:
# print data types and unique values count for each column in df
print(f"\nData types check:")
for col in df.columns:
    dtype = df[col].dtype
    unique_vals = df[col].nunique()
    print(f"  ‚û°Ô∏è{col:<25} {str(dtype):<10} [{unique_vals}] unique values")

Data types check:
  ‚û°Ô∏èadmin                     int64      [27] unique values
  ‚û°Ô∏èadmin_duration            float64    [3335] unique values
  ‚û°Ô∏èinfo                      int64      [17] unique values
  ‚û°Ô∏èinfo_duration             float64    [1258] unique values
  ‚û°Ô∏èprod_related              int64      [311] unique values
  ‚û°Ô∏èprod_related_duration     float64    [9551] unique values
  ‚û°Ô∏èbounce_rate               float64    [1872] unique values
  ‚û°Ô∏èexit_rate                 float64    [4777] unique values
  ‚û°Ô∏èpage_value                float64    [2704] unique values
  ‚û°Ô∏èspecial_day               float64    [6] unique values
  ‚û°Ô∏èmonth                     str        [10] unique values
  ‚û°Ô∏èos                        int64      [8] unique values
  ‚û°Ô∏èbrowser                   int64      [13] unique values
  ‚û°Ô∏èregion                    int64      [9] unique values
  ‚û°Ô∏ètraffic_type              int64      [20] unique values
  ‚û°Ô∏èvisitor_type              str        [3] unique values
  ‚û°Ô∏èweekend                   bool       [2] unique values
  ‚û°Ô∏èrevenue                   bool       [2] unique values

In [42]:
# Loop through each column and print unique values
print(100 * "-")
for col in df.columns:
    unique_vals = df[col].unique()
    print(f"‚û°Ô∏è {col} ({len(unique_vals)}) üßæ unique values:")
    print(f"{unique_vals}")
    print(100 * "-")

----------------------------------------------------------------------------------------------------
‚û°Ô∏è admin (27) üßæ unique values:
[ 0  1  2  4 12  3 10  6  5  9  8 16 13 11  7 18 14 17 19 15 24 22 21 20
 23 27 26]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è admin_duration (3335) üßæ unique values:
[  0.         53.         64.6       ... 167.9107143 305.125
 150.3571429]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è info (17) üßæ unique values:
[ 0  1  2  4 16  5  3 14  6 12  7  9 10  8 11 24 13]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è info_duration (1258) üßæ unique values:
[  0.   120.    16.   ... 547.75 368.25 211.25]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è prod_related (311) üßæ unique values:
[  1   2  10  19   0   3  16   7   6  23  13  20   8   5  32   4  45  14
  52   9  46  15  22  11  12  36  42  27  90  18  38  17 128  25  30  21
  51  26  28  31  24  50  96  49  68  98  67  55  35  37  29  34  71  63
  87  40  33  54  64  75  39 111  81  61  47  44  88 149  41  79  66  43
 258  80  62  83 173  48  58  57  56  69  82  59 109 287  53  84  78 137
 113  89  65  60 104 129  77  74  93  76  72 194 140 110 132 115  73 328
 160  86 150  95 130 151 117 124 127 125 116 105  92 157 154 220 187 112
 131 159  94 204 142 206 102 313 145  85  97 198 181 126 106 101 108 119
  70 122  91 276 100 291 114 172 217 141 133 156 136 180 135 195  99 362
 179 118 175 148 440 103 178 184 705 134 176 146 189 120 193 222 121 107
 305 199 439 223 230 280 377 310 158 486 153 139 182 221 229 216 170 202
 346 274 240 162 123 211 227 168 161 429 686 167 518 256 255 358 213 191
 282 155 138 246 237 271 171 414 219 262 409 243 241 197 449 143 188 391
 238 152 165 293 174 584 164 311 340 250 200 385 292 232 251 517 225 169
 309 235 501 224 275 318 144 397 343 245 186 337 351 166 349 423 359 163
 147 264 312 226 324 266 260 338 272 534 470 207 218 326 190 304 205 233
 401 177 330 286 247 357 315 231 339 283 374 248 279 281 234 261 290 336
 378 254 183 210 192]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è prod_related_duration (9551) üßæ unique values:
[  0.          64.           2.66666667 ... 465.75       184.25
 346.        ]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è bounce_rate (1872) üßæ unique values:
[0.2        0.         0.05       ... 0.00382775 0.00086956 0.01114899]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è exit_rate (4777) üßæ unique values:
[0.2        0.1        0.14       ... 0.01276133 0.01395349 0.02903061]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è page_value (2704) üßæ unique values:
[ 0.         54.17976426 19.44707913 ... 78.81172527  3.68540082
 12.24171745]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è special_day (6) üßæ unique values:
[0.  0.4 0.8 1.  0.2 0.6]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è month (10) üßæ unique values:
<StringArray>
['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep', 'Dec']
Length: 10, dtype: str
----------------------------------------------------------------------------------------------------
‚û°Ô∏è os (8) üßæ unique values:
[1 2 4 3 7 6 8 5]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è browser (13) üßæ unique values:
[ 1  2  3  4  5  6  7 10  8  9 12 13 11]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è region (9) üßæ unique values:
[1 9 2 3 4 5 6 7 8]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è traffic_type (20) üßæ unique values:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 18 19 16 17 20]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è visitor_type (3) üßæ unique values:
<StringArray>
['Returning_Visitor', 'New_Visitor', 'Other']
Length: 3, dtype: str
----------------------------------------------------------------------------------------------------
‚û°Ô∏è weekend (2) üßæ unique values:
[False  True]
----------------------------------------------------------------------------------------------------
‚û°Ô∏è revenue (2) üßæ unique values:
[False  True]
----------------------------------------------------------------------------------------------------

<hr>

## 3Ô∏è‚É£ DATA TYPES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

<hr>

### 1- Display datatypes

<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [43]:
# print data types for each column in df
print(f"\nData types of each column:")
for col in df.columns:
    dtype = df[col].dtype
    unique_vals = df[col].nunique()
    # print column name and data type
    print(f"  ‚û°Ô∏è{col:<25} {str(dtype):<10}")

Data types of each column:
  ‚û°Ô∏èadmin                     int64
  ‚û°Ô∏èadmin_duration            float64
  ‚û°Ô∏èinfo                      int64
  ‚û°Ô∏èinfo_duration             float64
  ‚û°Ô∏èprod_related              int64
  ‚û°Ô∏èprod_related_duration     float64
  ‚û°Ô∏èbounce_rate               float64
  ‚û°Ô∏èexit_rate                 float64
  ‚û°Ô∏èpage_value                float64
  ‚û°Ô∏èspecial_day               float64
  ‚û°Ô∏èmonth                     str
  ‚û°Ô∏èos                        int64
  ‚û°Ô∏èbrowser                   int64
  ‚û°Ô∏èregion                    int64
  ‚û°Ô∏ètraffic_type              int64
  ‚û°Ô∏èvisitor_type              str
  ‚û°Ô∏èweekend                   bool
  ‚û°Ô∏èrevenue                   bool

<hr>

### 2- Check MAX, MIN duration

<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [44]:
# check min max duration if we need to convert to minutes and seconds
print(f"min and max values for duration columns:")
for col in ['admin_duration', 'info_duration', 'prod_related_duration']:
    print(f"  ‚û°Ô∏è{col}: MIN = {df[col].min()} ; MAX = {df[col].max()}")

min and max values for duration columns:
  ‚û°Ô∏èadmin_duration: MIN = 0.0 ; MAX = 3398.75
  ‚û°Ô∏èinfo_duration: MIN = 0.0 ; MAX = 2549.375
  ‚û°Ô∏èprod_related_duration: MIN = 0.0 ; MAX = 63973.52223

<hr>

### 3- Convert datatypes:

<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [45]:

# Convert seconds to MM:SS format ---------------------------------------------------------------------------
#convert 'admin_duration' to time
#df['admin_duration'] = pd.to_timedelta(df['admin_duration'], unit='s')
#df['admin_duration'] = df['admin_duration'].apply(lambda x: f"{int(x//60):02d}:{int(x%60):02d}")

# convert 'info_duration' to time
#df['info_duration'] = pd.to_timedelta(df['info_duration'], unit='s')
#df['info_duration'] = df['info_duration'].apply(lambda x: f"{int(x//60):02d}:{int(x%60):02d}")

# convert 'prod_related_duration' to time
#df['prod_related_duration'] = pd.to_timedelta(df['prod_related_duration'], unit='s')
#df['prod_related_duration'] = df['prod_related_duration'].apply(lambda x: f"{int(x//60):02d}:{int(x%60):02d}")
# keep it numerical for analysis may be better?

# Convert categorical columns to object --------------------------------------------------------------------
# convert 'os' to categorical object
df['os'] = df['os'].astype('object')

# convert 'browser' to categorical object
df['browser'] = df['browser'].astype('object')

# convert 'region' to categorical object
df['region'] = df['region'].astype('object')

# convert 'traffic_type' to categorical object
df['traffic_type'] = df['traffic_type'].astype('object')

# convert 'visitor_type' to categorical object
df['visitor_type'] = df['visitor_type'].astype('object')

# convert 'month' to categorical object
df['month'] = df['month'].astype('object')

<hr>

### 4- Check datatypes after conversion:


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [46]:
# print data types for each column in df
print(f"\nData types of each column:")
for col in df.columns:
    dtype = df[col].dtype
    unique_vals = df[col].nunique()
    # print column name and data type
    print(f"  ‚û°Ô∏è{col:<25} {str(dtype):<10}")

Data types of each column:
  ‚û°Ô∏èadmin                     int64
  ‚û°Ô∏èadmin_duration            float64
  ‚û°Ô∏èinfo                      int64
  ‚û°Ô∏èinfo_duration             float64
  ‚û°Ô∏èprod_related              int64
  ‚û°Ô∏èprod_related_duration     float64
  ‚û°Ô∏èbounce_rate               float64
  ‚û°Ô∏èexit_rate                 float64
  ‚û°Ô∏èpage_value                float64
  ‚û°Ô∏èspecial_day               float64
  ‚û°Ô∏èmonth                     object
  ‚û°Ô∏èos                        object
  ‚û°Ô∏èbrowser                   object
  ‚û°Ô∏èregion                    object
  ‚û°Ô∏ètraffic_type              object
  ‚û°Ô∏èvisitor_type              object
  ‚û°Ô∏èweekend                   bool
  ‚û°Ô∏èrevenue                   bool

<hr>

## 4Ô∏è‚É£ NULL VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [47]:
# Loop through each column and print the number of nulls in each column
for col in df.columns:
    null_count = df[col].isnull().sum()
    print(f"[{col}]: [{null_count}] null values")

print(70*"-")
df.info()
# using df.info() and/or using the above loop to check for null values in each column:
    # There are no null values in the dataset,
    # So we can proceed with the next step to check for duplicates in the dataset.

[admin]: [0] null values
[admin_duration]: [0] null values
[info]: [0] null values
[info_duration]: [0] null values
[prod_related]: [0] null values
[prod_related_duration]: [0] null values
[bounce_rate]: [0] null values
[exit_rate]: [0] null values
[page_value]: [0] null values
[special_day]: [0] null values
[month]: [0] null values
[os]: [0] null values
[browser]: [0] null values
[region]: [0] null values
[traffic_type]: [0] null values
[visitor_type]: [0] null values
[weekend]: [0] null values
[revenue]: [0] null values
----------------------------------------------------------------------
<class 'pandas.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   admin                  12330 non-null  int64
 1   admin_duration         12330 non-null  float64
 2   info                   12330 non-null  int64
 3   info_duration          12330 non-null  float64
 4   prod_related           12330 non-null  int64
 5   prod_related_duration  12330 non-null  float64
 6   bounce_rate            12330 non-null  float64
 7   exit_rate              12330 non-null  float64
 8   page_value             12330 non-null  float64
 9   special_day            12330 non-null  float64
 10  month                  12330 non-null  object
 11  os                     12330 non-null  object
 12  browser                12330 non-null  object
 13  region                 12330 non-null  object
 14  traffic_type           12330 non-null  object
 15  visitor_type           12330 non-null  object
 16  weekend                12330 non-null  bool
 17  revenue                12330 non-null  bool
dtypes: bool(2), float64(7), int64(3), object(6)
memory usage: 1.5+ MB

<hr>

## 5Ô∏è‚É£ DUPLICATE VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

<hr>

### üî≤ DISPLAY DUPLICATE ROWS


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [48]:
# Check for duplicate rows in the DataFrame -----------------------------------------
duplicate_rows = df[df.duplicated()]

# Print the number of duplicate rows
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

# Display the duplicate rows if any exist
if not duplicate_rows.empty:
    print("\nDuplicate rows:")
    display(duplicate_rows)
else:
    print("\nNo duplicate  rows found.")

Number of duplicate rows: 125

Duplicate rows:

,admin,admin_duration,info,info_duration,prod_related,prod_related_duration,bounce_rate,exit_rate,page_value,special_day,month,os,browser,region,traffic_type,visitor_type,weekend,revenue
158,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Feb,1,1,1,3,Returning_Visitor,False,False
159,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Feb,3,2,3,3,Returning_Visitor,False,False
178,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Feb,3,2,3,3,Returning_Visitor,False,False
418,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Mar,1,1,1,1,Returning_Visitor,True,False
456,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Mar,2,2,4,1,Returning_Visitor,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11934,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Dec,1,1,1,2,New_Visitor,False,False
11938,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Dec,1,1,4,1,Returning_Visitor,True,False
12159,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Dec,1,1,1,3,Returning_Visitor,False,False
12180,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Dec,1,13,9,20,Returning_Visitor,False,False
12185,0,0.0,0,0.0,1,0.0,0.2,0.2,0.0,0.0,Dec,8,13,9,20,Other,False,False

<hr>

### üìù DROP DUPLICATES ROWS


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [49]:
# drop the 125 rows in the DataFrame -----------------------------------------------
#df = df.drop_duplicates()

# Check for duplicate rows in the DataFrame after dropping duplicates
#duplicate_rows = df[df.duplicated()]

# print the number of duplicate rows
#print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

# display the duplicate rows if any still exist after dropping duplicates
#if not duplicate_rows.empty:
#    print("\nDuplicate rows:")
#    display(duplicate_rows)
#else:
#    print("\nNo duplicate rows found.")

<hr>

## 6Ô∏è‚É£ SAVE CLEAN CSV


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [50]:
# save clean dataset in a new CSV file
df.to_csv("../data/processed/online_shoppers_intention_06_clean.csv", index=False)
# for data analysis
# we changed columns to time datatype

<hr>

### üî≤ DISPLAY CLEAN DATASET


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [51]:

# Display df DataFrame
print("Online Shoppers Intention CLEAN Dataset:")
display(df.head())
print("Main Dataset Shape:", df.shape[0], "rows and", df.shape[1], "columns\n")

# Display data types & missing values of each column in df
print("Data Types & Missing Values of Each Column:")
display(df.info())

Online Shoppers Intention CLEAN Dataset:

,admin,admin_duration,info,info_duration,prod_related,prod_related_duration,bounce_rate,exit_rate,page_value,special_day,month,os,browser,region,traffic_type,visitor_type,weekend,revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

Main Dataset Shape: 12330 rows and 18 columns

Data Types & Missing Values of Each Column:
<class 'pandas.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   admin                  12330 non-null  int64
 1   admin_duration         12330 non-null  float64
 2   info                   12330 non-null  int64
 3   info_duration          12330 non-null  float64
 4   prod_related           12330 non-null  int64
 5   prod_related_duration  12330 non-null  float64
 6   bounce_rate            12330 non-null  float64
 7   exit_rate              12330 non-null  float64
 8   page_value             12330 non-null  float64
 9   special_day            12330 non-null  float64
 10  month                  12330 non-null  object
 11  os                     12330 non-null  object
 12  browser                12330 non-null  object
 13  region                 12330 non-null  object
 14  traffic_type           12330 non-null  object
 15  visitor_type           12330 non-null  object
 16  weekend                12330 non-null  bool
 17  revenue                12330 non-null  bool
dtypes: bool(2), float64(7), int64(3), object(6)
memory usage: 1.5+ MB

None